<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neobrutal.framework.overlay">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="android"
        android:priority="9999"
        android:isStatic="false" />
</manifest>
